<app-header></app-header>

<section class="hero">
      <h1><span>BOOKIN</span></h1>
      <h2>
        The new years sale is up, grab the offers before they run out.
        
        
        
      </h2>
    </section>
    <section class="section">
      <div class="wrapper"> 
        <div class="box__grid">
          <article class="box"><a class="box__content" href="#">
              <h3 class="box__title">Shop Online & Pick Up Today</h3>
              <p>
                Free pickup in store in as little as 3 hours. Contactless curbside pickup available at most locations.
                
              </p></a></article>
          <article class="box"><a class="box__content" href="#">
              <h3 class="box__title">30 days FREE return policy</h3>
              <p>you can always return the book back to us if you feel it is damaged or torn.</p></a></article>
          <article class="box"><a class="box__content" href="#">
              <h3 class="box__title">Best deals and offers</h3>
              <p>Grab our best books at the best deals and offers.</p></a></article>
        </div>
      </div>
    </section>

    <app-footer></app-footer>